body {
    background-color: aquamarine;
}

.container {
    background-color: orangered;
    height: 100%;
    width: auto;
    margin: auto;
    padding: 3px;
    border: 2px solid black;
    margin-top: 15px;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

